<% content_for :head do %>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function(){
			$.each($('.label-prepopulate'), function(i,v){
				$(v).labelPrepopulate();
			})
		})
	</script>
<% end %>

<% content_for :top_header do%>
	log in
<% end %>

<div id="log-in-wrapper">
	<%= form_tag sessions_path do %>
		<div class="label-prepopulate log-in-field">
			<%= label_tag :email %>
	 		<%= text_field_tag :email, params[:email]%>
		</div>
		<div class="label-prepopulate log-in-field">
			<%= label_tag :password %>
			<%= password_field_tag :password, params[:password]%>
		</div>
		<div class="log-in-field">
			<%= link_to "forgot password?", forgot_password_url, :class=> "passive_link"%>
		</div>
		<%= submit_tag "log in", :class=>"log-in-submit-button" %>
	<% end %>
</div>