<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <title>dediced.com- decided so you are</title>
  <meta http-equiv="Content-type" content="text/html; charset=iso-8859-1" />
  <meta http-equiv="Content-Language" content="en-US" />	
  <%= stylesheet_link_tag "main", "model", "form", "message", "token-input-dealicious", "imageselection"%>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js"></script>

  <%= javascript_include_tag "application","jquery.tokeninput", "imageselection", "jquery.validate", "jquery.hoverIntent", "jquery.prettyPhoto" %>  
  <%= csrf_meta_tag %>
  <%= yield(:head)%>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26803309-1']);
  _gaq.push(['_setDomainName', '.dediced.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>
	
	<div id="non-footer">
		<div id="head-bar">
			<div id="head-bar-wrapper">
				<div class="left-column">
					<a href="<%= root_url %>" id="logo">
						<img src="/assets/logo_dediced.png" alt="dediced.com"/>
					</a>
				</div>
				<div class="central-column">
					<ul id="nav-bar">					
						<li><input id="search-field" class="dropdown-search text" name="search" size="40" type="text"/><a href="#" id="search-submit" class="icon search-icon"></a></li>
						<li><a href="#" id="add-new-button"> + new post</a></li>
					</ul>
				</div>
				<div class="right-column">		
					<ul id="user-bar">
						<% if current_user %>								
							<li>
								<a id="user-profile" user_id="<%= current_user.id%>">
									<%= image_tag current_user.gravatar(50)%>
									<div id="user-name"><%= current_user.name%></div>
									<!-- <div class="icon triangle-icon"></div> -->
								</a>															 
							</li>						
						<% else %>
							<li><a href="/log_in" id="user-bar-login"> Log In</a></li>
							<li><a href="#" id="user-bar-signup"> Sign Up</a></li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
		
		<div id="container"> 		
			<div id="universal-toolbar">
				<div class="left-column"></div>
				<div class="central-column">
					<% unless flash.empty?%>
						<div id="flash"> 
							<% flash.each do |name, msg| %>
						        	<%= content_tag :div, msg, :id => "flash_#{name}" %>
					 		<% end %>
						</div>
					<% end %>
				</div>
				<div class="right-column"></div>
			</div>
		
			<div class="left-column">	
				<!-- <div id="header">
					<div id="header_title"> 
						<%= yield(:header_title)%>				
					</div>			
					<div id="header_subtitle">
						<%= yield(:header_subtitle)%>
					</div>
				</div> -->
				<ul id="menu-sidebar">
					<li> <a href="/stream" id="menu-sidebar-stream"><span class="menu-sidebar-subscript">Stream</span><span class="icon box-icon menu-sidebar-icon" ></span></a> </li>
					<% if current_user %>
						<!-- <li> <a href="/stream" id="menu-sidebar-toread"><span class="menu-sidebar-subscript">ToRead List</span><span class="icon toread-icon menu-sidebar-icon" ></span></a> </li> -->
					<% end %>
				</ul>
			</div>
			<div class="central-column">			
			
			
				<div id="content">
					<%= yield :toolbar%>
				
					<%= yield %>
				</div>
			
			</div>
			<div class="right-column">
			</div>
		</div> 
	</div>
	<div id="footer">
		
		<div id="footer-central-column">
			<div id="social-media">Follow us on
					<a href="https://plus.google.com/102627012757334564024" target="_blank"> <img src="/assets/dediced_gplus.png" height="30px"/></a>
					<a href="https://www.facebook.com/dediced" target="_blank"> <img src="/assets/dediced_facebook.png" height="30px"/></a>
					<a href="https://twitter.com/DedicedLLC" target="_blank"> <img src="/assets/dediced_twitter.png" height="30px"/></a>				
			</div>
		
			<ul id="footer_items">
				<li> <a class="text" href="http://blog.dediced.com/?page_id=17" target="_blank"> about </a></li>
				<li> <a class="text" href="http://blog.dediced.com/" target="_blank">blog</a></li>
				<li> <a id="feedback" class="text" href="mailto:info@dediced.com">contact</a> </li>								
			
				<li>  Dediced LLC &copy 2011-2012</li>
			</ul>
		</div>
	</div> 		

	<div id="overlay">
		<div id="blanket"></div>
	</div>


	

	<div id="debugger">
	</div>
	
	
	<div style="display: none;">	
		<div id="add_new_wrapper"><div id="add_new"></div></div>
		<div id="dialog_wrapper"></div>
		<div style="display:none;">
			<input id="img_x" type="text"/>
			<input id="img_y" type="text"/>
			<input id="img_w" type="text"/>
			<input id="img_h" type="text"/>
		</div>
	
	</div>
	<!-- <div id="sign_up_wrapper" style="display:none;">
		<div id="sign_up_form" class="form">
			<div id="dialog_title"> subscribe</div>
			<a href="#" class="cancel"> [x]</a>		
		</div>	
	</div> -->
	
	<div id="authentication-wrapper" style="display:none;">
		<div id="sign_up_form" class="form">
			<div id="dialog_title"> Log In or Sign Up</div>
			<a href="#" class="cancel"> [x]</a>		
		</div>	
	</div>
	
</body>
</html>



